html {
  height: 100%;
}
body {
  min-height: 100%;
}
body {
  display: flex;
}
.chat-container{
	flex:1;
	background-color: #17a2b8;
}
#send-message{
	width: 100%;
	border-radius: 25px;
	padding:15px;
}
#messages{
	min-height: 75vh;
	max-height: 75vh;
	overflow-y: scroll;
}
.send-button{
	width: 100%;
}
.btn-lg{
	border-radius: 1rem;
}
.messages-box{
	background-color: #FFFFFF;
	word-wrap:break-word;
	margin-top:1rem;
	width:auto;
}
.actual-message{
	padding:10px;
}
.server-message{
	padding:10px;
	text-align: right;
}
/** {
  border: 1px solid #f00 !important;
}*/
.form-group{
	padding: 10px;
}
.button-row{
	margin-top: 30px;
}